.lebel_listCon{ height: auto; max-height: 9.8rem; padding: 1rem; overflow: hidden;}
.lebel_listCon h4{ font-size: 1.5rem; height: 1.5rem; line-height: 1.5rem; border-left: solid 3px #ec6941; padding-left: 0.6rem;}
.lebel_listCon p{ font-size: 1.3rem; margin-top: 0.7rem; line-height: 2rem;}

.open{ padding: 0.6rem; font-size: 1rem; text-align: center; margin-bottom: 2rem; border-top: solid 1px #ebebeb; box-shadow: 1px 2px 3px #dfdfdf;}



.plan-list-main {
  padding: 1rem;
  border-bottom: 1px dashed #e0e0e0;
}
.plan-list-main h3 {
  color: #666666;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.plan-list-main h3 img {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}
.plan-list-main .article-img-wrap {
  position: relative;
}
.plan-list-main .article-img-wrap img {
  width: 100%;
  height: 11.5rem;
  margin-bottom: 0.5rem;
}
.plan-list-main .article-img-wrap .article-words {
  margin: 0 auto;
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 0;
  background: rgba(255, 255, 255, 0.6);
}
.plan-list-main .article-img-wrap .article-words p {
  padding: 1rem;
  border-top: 1px solid #040404;
  border-bottom: 1px solid #040404;
  font-size: 1.2rem;
  color: #030303;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plan-list-main .article-img-wrap .article-words p span {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}
.plan-list-footer {
  font-size: 1.1rem;
}
.plan-list-footer span {
  color: #8c8c8c;
  margin-right: 2rem;
}
.plan-list-footer span:last-child {
  color: #11b2b8;
}

