body{
    background: #f6f6f6;
}
.home-page {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
    position: relative;
    height: auto;
    overflow: hidden;
    background: #f6f6f6;
}
.container {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#suggest-header {
    width: 100%;
    position: relative;
    background: #00ced6;
}
#suggest-header > a {
    display: inline-block;
    margin: 1.3rem 0 0 0.8rem;
    float: left;
}
#suggest-header > a img {
    width: 1.4rem;
    height: 0.9rem;
}
#suggest-header input[type='text'] {
    width: 74%;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 1px 1px 1px rgba(6, 0, 1, 0.2) inset;
    box-shadow: 1px 1px 1px rgba(6, 0, 1, 0.2) inset;
    padding: 0.6rem 0.5rem 0.6rem 2.7rem;
    margin: 0.8rem 0 0.8rem 0.8rem;
    border: none;
    outline: none;
    font-size: 1rem;
   /* background: #efefef url(../images/search.png) no-repeat 0.8rem 0.7rem;
    background-size: 1.2rem 1.2rem;*/
    background: #efefef;
}
#suggest-header button {
    display: inline-block;
    float: right;
    color: #FFFFFF;
    font-size: 1rem;
    margin: 1.2rem 0.7rem 0 0;
    background: none;
    border: none;
    outline: none;
    width: 11%;
    text-align: center;
}
#suggest-header button a{
    color: #FFFFFF;
    font-size:1.3rem;
}

.content-box{
    width:100%;

}
.content-box > p{
    font-size:1rem;
    color: #9f9e9e;
    padding:1.2rem 0.9rem;
}
.content-box > p > span{
    display: inline-block;
    float: right;
    color: #9d9c9c;
    margin-right:1rem;
}
.box-list{
    background: #FFFFFF;
    height:auto;
    overflow: hidden;
}
.list-content{
    padding:1.9rem 0.9rem;
    border-bottom: solid 1px #e9e9e9;
}
.list-content  h4{
    font-size: 1.2rem;
}
.list-content  h4 span{
    color: #b6b6b6;
    margin-left:0.8rem;
}
.list-content > p{
    margin-top:1.2rem;
    color: #585858;
    font-size:1.2rem;
}
.list-content > p > span{
    float: right;
    color: #c5c5c5;
    margin-right: 0.7rem;
}
.list-bottom{
    font-size: 1rem;
    color: #afaeae;
    padding: 1rem 0.9rem;
    border-bottom: solid 1px #dedddd;
    -webkit-box-shadow: 1px 2px 2px #cccccc;
    -moz-box-shadow: 1px 2px 2px #cccccc;
    box-shadow: 1px 1px 3px #d1d6dc;
    margin-bottom: 0.1rem;
}
.list-bottom > span{
    display: inline-block;
    margin-left:0.5rem;
    color: #00ced6;
    border:solid 1px #00ced6;
    -webkit-border-radius:0.2rem;
    -moz-border-radius:0.2rem;
    border-radius:0.2rem;
    padding: 0 0.6rem 0.1rem 0.6rem;
}